* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: left;
    margin-left:100px;
    margin-top: 100px;
    min-height: 100vh;
    background: #000000;
}

    h1{
    color: #00DD1C;
    font-weight: bold;
    font-style: italic;
    font-size:40px;
    text-align: left;
    }

    h2{
    color: #00DD1C;
    font-size:25px;
    text-align: left;
    }

    p{
    color: #00DD1C;
    text-align:left;
    font-size:18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
    margin-left: 10px;
    }

    a{
    color: #00DD1C;
    text-align:left;
    font-size:18px;
    }

    .pdfLink{
    color: #00DD1C;
    text-align:left;
    font-size:18px;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 10px;
    }

    ul {
    list-style-type: none;
    margin-top: 25px;
    padding-bottom: 0px;
    width:900px;
    overflow: hidden;
    }
    ul li{
    float:left;
    justify-content:center;
    }
    ul li a{
    text-align: center;
    display: inline-block;
    color:#00DD1C;
    font-size:14px;
    font-weight: bold;
    padding: 5px 10px;
    }

    div{
    width:75%;
    margin-top: 10px;
    }

    hr{
    color:#00DD1C;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 2px
    }

    .blogWeight{
    color:#00DD1C;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 5px;
    }

    br{
    margin-top:10px;
    margin-bottom: 10px;
    }

    footer{
        position:static;
        justify-items:center;
        width: 50%;
        left:25%;
        right:25%;
        bottom:10px;
        text-align:center;
    }
    .myFooter{
        text-align: center;
        margin-right: 10px;
    }
.blogImage {
  float: right;
  margin: 0px 0px 15px 20px;
  border-style: solid;
  border-color:#00DD1C;
  border-width: 1px;
}
#bgtest{
    background-color: blue;
}